body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background: #2f2f2f;
    width: calc(100% - 33px);
  }
  
  canvas {
    position: absolute;
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .result-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .result-container > div {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 5px 0;
    color: white;
    text-transform: capitalize;
  }
  #age {
    background: #3c3571;
  }
  #emotion {
    background: #bb9130;
  }
  #gender {
    background: #913e8b;
  }
  video {
    width: 100%;
  }
  header {
    background: #c71bc9;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: .7rem;
  }
